<div class="page-container">


<div class="container-fluid my-section space" id="about">
  
    <div class="header">
      <h1>About Veneto Bird Tours</h1>
      <br>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3  photo-lisa">
          <div class="column">
          	<%= image_tag("birder.jpg") %>
          </div>
        </div><!-- /col -->
        
        <div class="col-xs-12 col-sm-8 col-md-9">
						<p>Veneto Bird Tours is run by Lisa Leung, a Canadian birder who has worked for the North American Bird Breeding Atlas, the Toronto Zoo (as the Bird Conservation Technician) and a bird tour operator in Okinawa, Japan. She has moved around the world chasing birds since 2005. Her favorite places to bird have been Thailand, Swaziland, South Africa, Costa Rica, Mexico, Hong Kong, Australia and Spain.</p>
						<p>Depending on your location, how much time you have, how athletic you are, and your target bird species list, Lisa can cater your tour to suit your exact needs.</p>
						<p>If you would like a specialized tour, please contact Veneto Bird Tours to discuss your options.</p>
        </div><!-- /col -->
      </div> <!-- /row -->	
    </div><!-- /container -->
</div> <!-- /container-fluid -->

</div> <!-- /page-container -->