

<h1>Welcome to Veneto Bird Tours</h1>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("venice.jpg") %>
      <div class="carousel-caption">
          <h3>Venice</h3>
          <p>Often overlooked, Venice offers a unique and easy-to-tick birds.</p>
          
      </div>
    </div>
    <div class="item">
      <%= image_tag("podelta.jpg") %>
      <div class="carousel-caption">
          <h3>Po Delta</h3>
          <p>The Po Delta has the best wetlands in Northern Italy.</p>
         
      </div>
    </div>
    <div class="item">
      <%= image_tag("dolomites.jpg") %>
      <div class="carousel-caption">
          <h3>The Dolomites</h3>
          <p>Weather permitting, the Dolomite Mountains offer an extensive range of alpine species.</p>
        
      </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- end carousel-example-generic -->


  </div> <!-- end container-fluid index -->









<div class="intro-container">
	<div class="table-intro">
		<p>Veneto has some of the best birding in Italy.</p>
	</div>
</div>