// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #76D9B9;
	background-color: #020E17;
	margin-bottom: 100px;
}

.page-container {
	margin-top: 100px;
}

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.navbar-default
.navbar-nav li a {
	color: 76D9B9;
}

h1 {
	font-family: Avant Garde, Century Gothic, Candara, sans-serif;
	font-size: 3em;
	color: #15AB89;
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	font-family: Gill Sans, Optima, Verdana, sans-serif;
}

.navbar {
	width: 100%;
	margin: 0 auto;
}

.navbar-collapse {
	background-color: #0E5159;
	color: #76D9B9;
}

.nav-item {
	background-color: black;
	color: #76D9B9;
	font-size: 1em;
	text-transform: uppercase;
}

.footer {
	text-align: right;
	background-color: #0E5159;
	color: #09736A;
}

.intro-container {
	margin: 25px auto;
}

.about-me {
	margin: 25px 0 50px 0;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.table-intro {
	display: table;
	width: 75%;
	height: 100%;
	table-layout: fixed;
	margin: 0 auto;
}

.table-contact {
	display: table;
	height: 100%;
	table-layout: fixed;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.table {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}

form {
    display: inline-block;
    border: 3px solid grey;
    width: 450px;
    padding: 50px 0;
    background: #0E5159;
    margin: 0 auto;
}

.form-group {
	padding-left: 25px;
	padding-right: 25px;
}

.btn-space {
	padding-left: 25px;
}

input {
    margin-bottom:15px;
}
