// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: Rockwell, Palatino, Cambria, serif;
	font-size: 3em;
	color: #663399;
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	font-family: Times New Roman, serif;
}

.navbar {
	width: 100%;
	margin: 0 auto;
}

.nav-item {
	color: #663399;
	font-size: 1em;
	background-color: #7FFFD4;
}

.footer {
	text-align: right;
	background-color: #7FFFD4;
}

.bike-image {
	margin: 0 auto;
}