// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

h1 {
	font-family: Caesar+Dressing, Palatino, Cambria, cursive;
	font-size: 3em;
	color: #663399;
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	font-family: Times New Roman, serif;
}

.navbar {
	width: 100%;
	margin: 0 auto;
}

.nav-item {
	color: #663399;
	font-size: 1em;
}

.footer {
	text-align: right;
	background-color: #663399;
	color: white;
}

.hadrian-image {
	margin: 0 auto;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.table-intro {
	display: table;
	width: 75%;
	height: 100%;
	table-layout: fixed;
	margin: 0 auto;
}

.table {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}

form {
    display: inline-block;
    border: 3px solid purple;
    width: 450px;
    padding: 50px 0;
    background: white;
}

input {
    margin-bottom:15px;
}